// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$midnight-blue: #232741;
/*$grey: #484545;*/
$light-grey: #F5F5F5;
$light-grey-1: #E0E0E0;
$grey: #424242;
$grey-1: #757575;
$grey-2: #616161;
$darkest-grey: #212121;
$blue-1: #006cff;
$blue-2: #005cda;

$brown-1: #795548;
$brown-2: #3E2723;

$yellow-1: #FFD600;
$yellow-2: #FFEB3B;

$amber-1: #FFAB00;
$amber-2: #FFCA28;

$orange-1: #FF6D00;
$orange-2: #FF9800;

$red-1: #B71C1C;
$red-2: #D32F2F;


$white-1: #FAFAFA;

/*fonts*/
$roboto: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$opensans: 'OpenSans', sans-serif;



